In [1]:
import pandas as pd
import warnings

# Suppress warnings
warnings.simplefilter(action='ignore', category=UserWarning)

# Load the dataset
file_path = "Data_Entry_Template_1_dataentered_test.xlsx"
df = pd.read_excel(file_path, skiprows=2)  # Ensure correct skip of unwanted rows


df = df[1:] # Remove unneccessary first row below main header row

# list(df.columns)
df

,Questionnaire_no,District,District_code,Taluk,Taluk_code,Panchayat,Panchayat_code,Landmark_of_informant,Gender_of_informant,Date_of_Response,...,Household_Members_below_1year_to_3years_old,Household_Members_below_4years_to_8years_old,Household_Members_below_9years_to_12years_old,Household_Members_below_13years_and_above,Educational_Qualification,Occupation_of_informant,Primary_Income_Earner_Qualification,Primary_Income_Earner_Occupation,SEC,Monthly_Household_Income
1,5,NaN,4,NaN,3.0,NaN,1.0,NaN,2,2024-11-09,...,NaN,NaN,NaN,4.0,"5,6",4,4,4,A2,3
2,6,NaN,4,NaN,3.0,NaN,1.0,NaN,2,2024-11-09,...,NaN,NaN,NaN,4.0,1,2,1,1,E2,1
3,7,NaN,4,NaN,3.0,NaN,1.0,NaN,1,2024-11-10,...,NaN,NaN,,1.0,4,1,4,4,A1,NaN
4,212,4,4,3,3.0,2,2.0,pacha chekkidikadu,1,2024-11-09,...,NaN,NaN,NaN,4.0,1,1,1,1,c,1
5,213,4,4,3,3.0,2,2.0,near LMHSSschool,1,2024-11-09,...,NaN,NaN,NaN,4.0,3,1,3,1,c,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30679,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:

# Clean column names
df.columns = [str(col).strip().lower() for col in df.columns]

# Define expected column mappings
expected_columns = {
    "panchayat_code": "panchayat_code",
    "gender_of_informant": "gender_of_informant",
    "kwa_connection": "kwa_connection",
    "primary_water_source": "primary_water_source",
    "daily_water_consumption_litres": "daily_water_consumption_litres",
    "primary_usage": "primary_usage",
    "daily_water_usage_source": "daily_water_usage_source",
    "agricultural_water_source": "agricultural_water_source",
    "issues_with_water_supply": "issues_with_water_supply",
    "frequency_of_supply_issues": "frequency_of_supply_issues",
    "check_by_authority": "check_by_authority",
    "ph_value_well": "ph_value_well",
    "ph_value_pond": "ph_value_pond",
    "ph_value_river_backwater": "ph_value_river_backwater",
    "ph_value_borewell": "ph_value_borewell",
    "ph_value_pipe_water": "ph_value_pipe_water",
    "satisfaction_with_water_taste": "satisfaction_with_water_taste",
    "satisfaction_with_water_smell": "satisfaction_with_water_smell",
    "noticeable_contamination": "noticeable_contamination",
    "septic_tank_or_wastewater_presence_nearby_primary_water_source": "septic_tank_or_wastewater_presence_nearby_primary_water_source",
    "pipeline_water_chlorinated_belief": "pipeline_water_chlorinated_belief",
    "frequency_of_cleaning_water_tank": "frequency_of_cleaning_water_tank",
    "water_purifying_techniques": "water_purifying_techniques",
    "types_of_water_purifications": "types_of_water_purifications",
    "ever_noticed_broken_pipelines_in_house_or_public_places": "ever_noticed_broken_pipelines_in_house_or_public_places",
    "waterborne_diseases_last_year": "waterborne_diseases_last_year",
    "confidence_in_safety": "confidence_in_safety",
    "noticed_any_changes_in_health_after_using_current_drinking_water": "noticed_any_changes_in_health_after_using_current_drinking_water",
    "willingness_to_pay_for_better_drinking_water_services": "willingness_to_pay_for_better_drinking_water_services",
    "household_members_below_1year_old": "household_members_below_1year_old",
    "household_members_below_1year_to_3years_old": "household_members_below_1year_to_3years_old",
    "household_members_below_4years_to_8years_old": "household_members_below_4years_to_8years_old",
    "household_members_below_9years_to_12years_old": "household_members_below_9years_to_12years_old",
    "household_members_below_13years_and_above": "household_members_below_13years_and_above",
    "educational_qualification": "educational_qualification",
    "primary_income_earner_qualification": "primary_income_earner_qualification",
    "sec": "sec",
    "monthly_household_income": "monthly_household_income"
}

# Check for missing columns
missing_cols = set(expected_columns.values()) - set(df.columns)
if missing_cols:
    print(f"‚ö†Ô∏è Warning: The following expected columns are missing: {missing_cols}")

# Create a dictionary to map actual column names to expected names
column_mapping = {col: expected_columns[col] for col in df.columns if col in expected_columns.values()}

# Rename columns based on mapping
df.rename(columns=column_mapping, inplace=True)

# Select only the required columns
df_selected = df[list(column_mapping.values())].copy()

# Remove rows where all columns are empty
df_selected = df_selected.dropna(how='all').reset_index(drop=True)

# # Remove columns with only NaN values
# df_selected = df_selected.dropna(axis=1, how='all')

# Define coded responses
coded_responses = {
    "panchayat_code": {"THAKAZHY": "1", "EDATHUA": "2", "THALAVADY": "3"},
    "gender_of_informant": {"MALE": "1", "FEMALE": "2"},
    "kwa_connection": {"YES": "1", "NO": "2"},
    "primary_water_source": {
        "PIPE CONNECTION": "1", "WELL": "2", "POND": "3", "RIVER/BACKWATER": "4",
        "BORE WELL": "5", "OTHERS": "6"
    },
}

# Apply coding transformation (convert to uppercase before mapping)
for col, mapping in coded_responses.items():
    if col in df_selected.columns:
        df_selected[col] = df_selected[col].astype(str).str.upper().map(mapping)

# Save coded responses mapping
coded_responses_df = pd.DataFrame.from_dict(coded_responses, orient='index')
coded_responses_df.to_excel("Coded_Responses.xlsx", index=True)

# Print confirmation
print(f"‚úÖ Coded responses saved to 'Coded_Responses.xlsx'")
print(f"üìä Cleaned dataset shape: {df_selected.shape}")

‚úÖ Coded responses saved to 'Coded_Responses.xlsx'
üìä Cleaned dataset shape: (9, 38)

In [3]:
# df_selected
# list(df_selected.columns)

In [4]:
# import pandas as pd

# # Function to expand multi-response columns into separate binary columns (One-Hot Encoding)
# def expand_into_columns(df, columns_to_expand):
#     df_expanded = df.copy()

#     for col in columns_to_expand:
#         # Convert to string, handle NaNs, and split by commas safely
#         df_expanded[col] = df_expanded[col].astype(str).fillna("").apply(lambda x: x.split(",") if x else [])

#         # Strip spaces from each value
#         df_expanded[col] = df_expanded[col].apply(lambda x: [i.strip() for i in x if i.strip()])

#         # Identify unique values in the column
#         unique_values = set(val for sublist in df_expanded[col] if isinstance(sublist, list) for val in sublist)

#         # Create new binary columns
#         for value in unique_values:
#             new_col_name = f"{col}_{value.replace(' ', '_')}"  # Replace spaces with underscores
#             df_expanded[new_col_name] = df_expanded[col].apply(lambda x: 1 if value in x else 0)

#         # Drop the original column after expansion
#         df_expanded.drop(columns=[col], inplace=True)

#     return df_expanded

# # Identify multi-response columns (excluding `panchayat_code`)
# multi_response_columns = [col for col in df_selected.columns 
#                           if col != "panchayat_code" and df_selected[col].astype(str).fillna("").str.contains(',').any()]

# # Expand dataset into separate columns (One-Hot Encoding)
# df_expanded = expand_into_columns(df_selected, multi_response_columns)

# # Ensure `panchayat_code` remains unchanged
# df_expanded["panchayat_code"] = df_selected["panchayat_code"]

# # **Check: Print column names after expansion**
# print("‚úÖ Columns after expansion:", df_expanded.columns)
# print("üìä Shape of data after expansion:", df_expanded.shape)

In [5]:
# df_expanded.to_csv('df_expanded.csv')

In [6]:
# import pandas as pd

# # Function to expand multi-response columns into separate binary columns (One-Hot Encoding)
# def expand_into_columns(df, columns_to_expand):
#     df_expanded = df.copy()

#     for col in columns_to_expand:
#         # Convert to string, handle NaNs, and split by commas safely
#         df_expanded[col] = df_expanded[col].astype(str).fillna("").apply(lambda x: x.split(",") if x else [])

#         # Strip spaces from each value
#         df_expanded[col] = df_expanded[col].apply(lambda x: [i.strip() for i in x if i.strip()])

#         # Identify unique values in the column
#         unique_values = set(val for sublist in df_expanded[col] if isinstance(sublist, list) for val in sublist)

#         # Create new binary columns
#         for value in unique_values:
#             new_col_name = f"{col}_{value.replace(' ', '_')}"  # Replace spaces with underscores
#             df_expanded[new_col_name] = df_expanded[col].apply(lambda x: 1 if value in x else 0)

#         # Drop the original column after expansion
#         df_expanded.drop(columns=[col], inplace=True)

#     return df_expanded

# # Define columns that contain numerical values
# numerical_columns = [
#     'ph_value_well', 'ph_value_pond', 'ph_value_river_backwater', 'ph_value_borewell', 'ph_value_pipe_water',
#     'household_members_below_1year_old', 'household_members_below_1year_to_3years_old',
#     'household_members_below_4years_to_8years_old', 'household_members_below_9years_to_12years_old',
#     'household_members_below_13years_and_above'
# ]

# # Identify multi-response columns, excluding numerical columns and `panchayat_code`
# multi_response_columns = [
#     col for col in df_selected.columns
#     if col not in numerical_columns and col != "panchayat_code" and df_selected[col].astype(str).fillna("").str.contains(',').any()
# ]

# # Expand dataset into separate columns (One-Hot Encoding)
# df_expanded = expand_into_columns(df_selected, multi_response_columns)

# # Ensure `panchayat_code` remains unchanged
# df_expanded["panchayat_code"] = df_selected["panchayat_code"]

# # Ensure numerical columns remain unchanged
# for col in numerical_columns:
#     if col in df_selected.columns:
#         df_expanded[col] = df_selected[col]

# # **Create lists for categorical and numerical columns**
# categorical_columns = [col for col in df_expanded.columns if col not in numerical_columns]
# numerical_columns = [col for col in df_expanded.columns if col in numerical_columns]

# # Print summary
# print('')
# print("‚úÖ Categorical Columns:", categorical_columns)
# print('')
# print("‚úÖ Numerical Columns:", numerical_columns)
# print('')
# print("üìä Final Dataset Shape:", df_expanded.shape)
# print('')

# # Display categorized DataFrames separately
# df_categorical = df_expanded[categorical_columns]
# df_numerical = df_expanded[numerical_columns]

# print('')
# print('Shape of df_categorical', df_categorical.shape)
# print('Shape of df_numerical', df_numerical.shape)
# print('')

# # # Save DataFrames as CSV files for download
# # categorical_file = "./categorical_data.csv"
# # numerical_file = "./numerical_data.csv"

# # df_categorical.to_csv(categorical_file, index=False)
# # df_numerical.to_csv(numerical_file, index=False)

# # # Provide file links for download
# # categorical_file, numerical_file

In [7]:
# import pandas as pd
# import matplotlib.pyplot as plt

# # Function to expand multi-response columns into separate binary columns (One-Hot Encoding)
# def expand_into_columns(df, columns_to_expand):
#     df_expanded = df.copy()

#     for col in columns_to_expand:
#         # Convert to string, handle NaNs, and split by commas
#         df_expanded[col] = df_expanded[col].astype(str).fillna("").str.replace(" ", "").str.split(",")

#         unique_values = set(val for sublist in df_expanded[col] for val in sublist if val)

#         for value in unique_values:
#             new_col_name = f"{col}_{value}"
#             df_expanded[new_col_name] = df_expanded[col].apply(lambda x: 1 if str(value) in x else 0)

#         df_expanded.drop(columns=[col], inplace=True)

#     return df_expanded

# # Ensure df_selected is defined
# if 'df_selected' in locals():
#     # Identify multi-response columns (excluding `panchayat_code`)
#     multi_response_columns = [
#         col for col in df_selected.columns if col != "panchayat_code" and df_selected[col].astype(str).str.contains(',').any()
#     ]

#     # Expand dataset into separate columns (One-Hot Encoding)
#     df_expanded = expand_into_columns(df_selected, multi_response_columns)

#     # Ensure `panchayat_code` remains unchanged
#     df_expanded["panchayat_code"] = df_selected["panchayat_code"]

#     # Convert categorical variables to numeric format before aggregation (excluding `panchayat_code`)
#     for col in df_expanded.columns:
#         if col in coded_responses.keys() and col != "panchayat_code":
#             df_expanded[col] = pd.to_numeric(df_expanded[col], errors='coerce')

#     # **Update categorical_vars to include expanded columns**
#     categorical_vars = [
#         col for col in df_expanded.columns if col.startswith(tuple(coded_responses.keys())) and col != "panchayat_code"
#     ]

#     # Grouping data Panchayat-wise
#     panchayat_groups = df_expanded.groupby("panchayat_code")

#     # Compute frequency & percentage distributions for categorical variables
#     categorical_summary = {var: panchayat_groups[var].sum() for var in categorical_vars}

#     # Convert categorical summary to DataFrame
#     cat_summary_df = pd.DataFrame(categorical_summary)

#     # Ensure `panchayat_code` is preserved and not counted
#     cat_summary_df.index.name = "panchayat_code"
#     cat_summary_df = cat_summary_df.reset_index()

#     # Compute mean, median, standard deviation, and variance for numerical variables
#     numerical_vars = [
#         col for col in df_expanded.columns if col not in coded_responses.keys() and col != "panchayat_code"
#     ]

#     if numerical_vars:
#         numerical_summary = panchayat_groups[numerical_vars].agg(['mean', 'median', 'std', 'var'])
#         numerical_summary.columns = ["_".join(map(str, col)) if isinstance(col, tuple) else col for col in numerical_summary.columns]
#         numerical_summary = numerical_summary.reset_index()
#     else:
#         numerical_summary = pd.DataFrame()

#     # Save results to an Excel file
#     output_file = "./Panchayat_Descriptive_Statistics_Expanded.xlsx"
#     with pd.ExcelWriter(output_file) as writer:
#         cat_summary_df.to_excel(writer, sheet_name="Categorical Summary", index=False)
#         numerical_summary.to_excel(writer, sheet_name="Numerical Summary", index=False)

#     # Provide the file for download
#     output_file
# else:
#     print("‚ö†Ô∏è Error: `df_selected` is not defined. Ensure the dataset is loaded before running this script.")

In [8]:
# import matplotlib.pyplot as plt

# # Function to generate stacked bar charts for categorical data
# def plot_panchayat_wise_distributions(df, categorical_columns):
#     for col in categorical_columns:
#         if col not in df.columns:
#             print(f"‚ö†Ô∏è Skipping {col}: Column not found in DataFrame.")
#             continue

#         plt.figure(figsize=(12, 6))

#         # Count occurrences of each category within each Panchayat
#         category_summary = df.groupby(["panchayat_code", col]).size().unstack(fill_value=0)

#         # Ensure numeric data for plotting
#         category_summary = category_summary.astype(int)

#         # Check if the DataFrame is empty or has only NaN values
#         if category_summary.empty:
#             print(f"‚ö†Ô∏è Skipping {col}: No valid data to plot.")
#             continue

#         # Plot stacked bar chart with Panchayat codes as x-axis labels
#         category_summary.plot(kind="bar", stacked=True, figsize=(12, 6), colormap="coolwarm")

#         # Customize plot appearance
#         plt.title(f"Distribution of {col} Across Panchayats", fontsize=14)
#         plt.xlabel("Panchayat Code", fontsize=12)
#         plt.ylabel("Count", fontsize=12)
#         plt.xticks(rotation=0)
#         plt.legend(title=col, bbox_to_anchor=(1.05, 1), loc='upper left')
#         plt.grid(axis='y', linestyle='--', alpha=0.7)

#         # Show the plot
#         plt.show()

# # Ensure df_categorical is defined before plotting
# if 'df_categorical' in locals():
#     plot_panchayat_wise_distributions(df_categorical, df_categorical.columns)
# else:
#     print("‚ö†Ô∏è Error: `df_categorical` is not defined. Ensure categorical data is processed before running this script.")

In [14]:
import pandas as pd
import matplotlib.pyplot as plt

# Ensure df_selected is defined before proceeding
if 'df_selected' not in locals():
    raise ValueError("‚ö†Ô∏è Error: `df_selected` is not defined. Ensure the dataset is loaded before running this script.")

# Define numerical columns explicitly (as per user-provided list)
numerical_columns = [
    'ph_value_well', 'ph_value_pond', 'ph_value_river_backwater', 'ph_value_borewell', 'ph_value_pipe_water',
    'household_members_below_1year_old', 'household_members_below_1year_to_3years_old',
    'household_members_below_4years_to_8years_old', 'household_members_below_9years_to_12years_old',
    'household_members_below_13years_and_above'
]

# Function to apply coded response mappings
def apply_coded_mappings(df, mappings):
    df_mapped = df.copy()
    
    for col, mapping in mappings.items():
        if col in df_mapped.columns:
            df_mapped[col] = df_mapped[col].astype(str).map(mapping).fillna(df_mapped[col])  # Preserve original values if not found
    
    return df_mapped

# Apply coded response mappings to categorical columns
df_mapped = apply_coded_mappings(df_selected, coded_responses)

# Identify multi-response columns (excluding numerical columns and `panchayat_code`)
multi_response_columns = [
    col for col in df_selected.columns
    if col not in numerical_columns and col != "panchayat_code" and df_selected[col].astype(str).fillna("").str.contains(',').any()
]

# Function to expand multi-response categorical columns into separate binary columns (One-Hot Encoding)
def expand_into_columns(df, columns_to_expand):
    df_expanded = df.copy()

    for col in columns_to_expand:
        df_expanded[col] = df_expanded[col].astype(str).fillna("").apply(lambda x: x.split(",") if x else [])
        df_expanded[col] = df_expanded[col].apply(lambda x: [i.strip() for i in x if i.strip()])
        
        unique_values = set(val for sublist in df_expanded[col] for val in sublist)

        for value in unique_values:
            new_col_name = f"{col}_{value.replace(' ', '_')}"
            df_expanded[new_col_name] = df_expanded[col].apply(lambda x: 1 if value in x else 0).astype(int)

        df_expanded.drop(columns=[col], inplace=True)

    return df_expanded

# Expand dataset into separate columns (One-Hot Encoding)
df_expanded = expand_into_columns(df_mapped, multi_response_columns)

# Ensure `panchayat_code` remains unchanged
df_expanded["panchayat_code"] = df_selected["panchayat_code"]

# Convert One-Hot Encoded columns to integer
for col in df_expanded.columns:
    if col not in ["panchayat_code"]:  # Exclude non-numeric columns
        df_expanded[col] = pd.to_numeric(df_expanded[col], errors='coerce')

# **Categorize variables correctly**
categorical_columns = [
    col for col in df_expanded.columns if col not in numerical_columns and col != "panchayat_code"
]

# **Fix: Ensure `panchayat_code` is included in categorical data**
df_categorical = df_expanded[categorical_columns + ["panchayat_code"]]
df_numerical = df_expanded[numerical_columns]

print("‚úÖ Filtered Categorical Columns:", categorical_columns)
print("‚úÖ Filtered Numerical Columns:", numerical_columns)
print("üìä Final Dataset Shape:", df_expanded.shape)
print("Shape of df_categorical:", df_categorical.shape)
print("Shape of df_numerical:", df_numerical.shape)

# Save results to an Excel file
output_file = "./Panchayat_Descriptive_Statistics_Expanded.xlsx"
with pd.ExcelWriter(output_file) as writer:
    df_categorical.to_excel(writer, sheet_name="Categorical Data", index=False)
    df_numerical.to_excel(writer, sheet_name="Numerical Data", index=False)

print(f"‚úÖ Data saved to {output_file}")

# Function to generate stacked bar charts for categorical data
def plot_panchayat_wise_distributions(df, categorical_columns):
    for col in categorical_columns:
        if col not in df.columns:
            print(f"‚ö†Ô∏è Skipping {col}: Column not found in DataFrame.")
            continue

        # Remove columns with only zero values
        if df[col].sum() == 0:
            print(f"‚ö†Ô∏è Skipping {col}: No non-zero values to plot.")
            continue

        plt.figure(figsize=(12, 6))

        category_summary = df.groupby(["panchayat_code"])[col].sum()
        
        # Ensure non-empty categorical distribution
        if category_summary.empty or (category_summary == 0).all():
            print(f"‚ö†Ô∏è Skipping {col}: No valid data for visualization.")
            continue

        category_summary.plot(kind="bar", stacked=True, figsize=(12, 6), colormap="coolwarm")

        plt.title(f"Distribution of {col} Across Panchayats", fontsize=14)
        plt.xlabel("Panchayat Code", fontsize=12)
        plt.ylabel("Count", fontsize=12)
        plt.xticks(rotation=0)
        plt.legend(title=col, bbox_to_anchor=(1.05, 1), loc='upper left')
        plt.grid(axis='y', linestyle='--', alpha=0.7)

        plt.show()

# Ensure df_categorical is defined before plotting
if 'df_categorical' in locals():
    plot_panchayat_wise_distributions(df_categorical, df_categorical.columns)
else:
    print("‚ö†Ô∏è Error: `df_categorical` is not defined.")

‚úÖ Filtered Categorical Columns: ['gender_of_informant', 'kwa_connection', 'primary_water_source', 'daily_water_consumption_litres', 'agricultural_water_source', 'issues_with_water_supply', 'frequency_of_supply_issues', 'check_by_authority', 'satisfaction_with_water_taste', 'satisfaction_with_water_smell', 'noticeable_contamination', 'septic_tank_or_wastewater_presence_nearby_primary_water_source', 'pipeline_water_chlorinated_belief', 'water_purifying_techniques', 'ever_noticed_broken_pipelines_in_house_or_public_places', 'waterborne_diseases_last_year', 'confidence_in_safety', 'noticed_any_changes_in_health_after_using_current_drinking_water', 'willingness_to_pay_for_better_drinking_water_services', 'primary_income_earner_qualification', 'sec', 'monthly_household_income', 'primary_usage_6', 'primary_usage_1', 'primary_usage_3', 'primary_usage_7', 'primary_usage_5', 'primary_usage_2', 'primary_usage_4', 'daily_water_usage_source_6', 'daily_water_usage_source_1', 'daily_water_usage_source_3', 'daily_water_usage_source_2', 'daily_water_usage_source_4', 'frequency_of_cleaning_water_tank_1', 'frequency_of_cleaning_water_tank_3', 'frequency_of_cleaning_water_tank_2', 'frequency_of_cleaning_water_tank_4', 'frequency_of_cleaning_water_tank_nan', 'types_of_water_purifications_nan', 'types_of_water_purifications_1', 'types_of_water_purifications_3', 'types_of_water_purifications_2', 'educational_qualification_6', 'educational_qualification_1', 'educational_qualification_3', 'educational_qualification_5', 'educational_qualification_2', 'educational_qualification_4']
‚úÖ Filtered Numerical Columns: ['ph_value_well', 'ph_value_pond', 'ph_value_river_backwater', 'ph_value_borewell', 'ph_value_pipe_water', 'household_members_below_1year_old', 'household_members_below_1year_to_3years_old', 'household_members_below_4years_to_8years_old', 'household_members_below_9years_to_12years_old', 'household_members_below_13years_and_above']
üìä Final Dataset Shape: (9, 60)
Shape of df_categorical: (9, 50)
Shape of df_numerical: (9, 10)
‚úÖ Data saved to ./Panchayat_Descriptive_Statistics_Expanded.xlsx
‚ö†Ô∏è Skipping gender_of_informant: No non-zero values to plot.
‚ö†Ô∏è Skipping kwa_connection: No non-zero values to plot.
‚ö†Ô∏è Skipping primary_water_source: No non-zero values to plot.
‚ö†Ô∏è Skipping daily_water_consumption_litres: No valid data for visualization.
‚ö†Ô∏è Skipping agricultural_water_source: No valid data for visualization.
‚ö†Ô∏è Skipping issues_with_water_supply: No valid data for visualization.
‚ö†Ô∏è Skipping frequency_of_supply_issues: No valid data for visualization.
‚ö†Ô∏è Skipping check_by_authority: No valid data for visualization.
‚ö†Ô∏è Skipping satisfaction_with_water_taste: No valid data for visualization.
‚ö†Ô∏è Skipping satisfaction_with_water_smell: No valid data for visualization.
‚ö†Ô∏è Skipping noticeable_contamination: No valid data for visualization.
‚ö†Ô∏è Skipping septic_tank_or_wastewater_presence_nearby_primary_water_source: No valid data for visualization.
‚ö†Ô∏è Skipping pipeline_water_chlorinated_belief: No valid data for visualization.
‚ö†Ô∏è Skipping water_purifying_techniques: No valid data for visualization.
‚ö†Ô∏è Skipping ever_noticed_broken_pipelines_in_house_or_public_places: No valid data for visualization.
‚ö†Ô∏è Skipping waterborne_diseases_last_year: No valid data for visualization.
‚ö†Ô∏è Skipping confidence_in_safety: No valid data for visualization.
‚ö†Ô∏è Skipping noticed_any_changes_in_health_after_using_current_drinking_water: No valid data for visualization.
‚ö†Ô∏è Skipping willingness_to_pay_for_better_drinking_water_services: No valid data for visualization.
‚ö†Ô∏è Skipping primary_income_earner_qualification: No valid data for visualization.
‚ö†Ô∏è Skipping sec: No non-zero values to plot.
‚ö†Ô∏è Skipping monthly_household_income: No valid data for visualization.
‚ö†Ô∏è Skipping primary_usage_6: No valid data for visualization.
‚ö†Ô∏è Skipping primary_usage_1: No valid data for visualization.
‚ö†Ô∏è Skipping primary_usage_3: No valid data for visualization.
‚ö†Ô∏è Skipping primary_usage_7: No valid data for visualization.
‚ö†Ô∏è Skipping primary_usage_5: No valid data for visualization.
‚ö†Ô∏è Skipping primary_usage_2: No valid data for visualization.
‚ö†Ô∏è Skipping primary_usage_4: No valid data for visualization.
‚ö†Ô∏è Skipping daily_water_usage_source_6: No valid data for visualization.
‚ö†Ô∏è Skipping daily_water_usage_source_1: No valid data for visualization.
‚ö†Ô∏è Skipping daily_water_usage_source_3: No valid data for visualization.
‚ö†Ô∏è Skipping daily_water_usage_source_2: No valid data for visualization.
‚ö†Ô∏è Skipping daily_water_usage_source_4: No valid data for visualization.
‚ö†Ô∏è Skipping frequency_of_cleaning_water_tank_1: No valid data for visualization.
‚ö†Ô∏è Skipping frequency_of_cleaning_water_tank_3: No valid data for visualization.
‚ö†Ô∏è Skipping frequency_of_cleaning_water_tank_2: No valid data for visualization.
‚ö†Ô∏è Skipping frequency_of_cleaning_water_tank_4: No valid data for visualization.
‚ö†Ô∏è Skipping frequency_of_cleaning_water_tank_nan: No valid data for visualization.
‚ö†Ô∏è Skipping types_of_water_purifications_nan: No valid data for visualization.
‚ö†Ô∏è Skipping types_of_water_purifications_1: No valid data for visualization.
‚ö†Ô∏è Skipping types_of_water_purifications_3: No valid data for visualization.
‚ö†Ô∏è Skipping types_of_water_purifications_2: No valid data for visualization.
‚ö†Ô∏è Skipping educational_qualification_6: No valid data for visualization.
‚ö†Ô∏è Skipping educational_qualification_1: No valid data for visualization.
‚ö†Ô∏è Skipping educational_qualification_3: No valid data for visualization.
‚ö†Ô∏è Skipping educational_qualification_5: No valid data for visualization.
‚ö†Ô∏è Skipping educational_qualification_2: No valid data for visualization.
‚ö†Ô∏è Skipping educational_qualification_4: No valid data for visualization.
‚ö†Ô∏è Skipping panchayat_code: No non-zero values to plot.

/tmp/ipykernel_11860/3332964753.py:99: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`). Consider using `matplotlib.pyplot.close()`.
  plt.figure(figsize=(12, 6))